.circle {
    background-color: rgb(0, 255, 179);
    border-radius: 50%;
    position: absolute;
    left: 300px;
    top: 140px;
}

body{
    background-color: white;
    padding-left: 20px;
    padding-top: 20px;
    margin: 0px;
}

.transform {
    transition: 0.8s;
    background-color: violet;
}

.canvas{
    height: 90%;
    width: 90%;
    background-color: rgb(255, 248, 234);
    box-sizing: border-box;
}

button.reset{
    background-color: cornflowerblue;
    border-radius: 4px;
    border: none;
    padding: 7px;
    margin: 10px;
    color: aliceblue;


}
